<div class="row">
    <div class="col-sm-12">
        <h3>Accounts</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Number of Users</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in $ctrl.accounts">
                        <td>{{account.name}}</td>
                        <td>
                            {{$ctrl.numOfUsers[account.id].length || 0}}
                        </td>
                        <td>
                            <div ng-if="$ctrl.checkIfUserBelongsToAccount(account.id).length">
                                <div class="form-group">
                                    <ui-select multiple ng-model="account.users" theme="bootstrap">
                                        <ui-select-match allow-clear="true" placeholder="Enter users to add this account to">{{$item.first_name}} {{$item.last_name}}</ui-select-match>
                                        <ui-select-choices repeat="user in ($ctrl.checkIfUserBelongsToAccount(account.id) | filter: $select.search) track by user.id">
                                            <div ng-bind-html="user.first_name + ' ' + user.last_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <button ng-click="$ctrl.accountsToUser(account)" ng-disabled="!account.users.length" class="btn btn-success btn-xs">Add</button>
                            </div>
                        </td>
                        <td><button ng-click="$ctrl.removeAccount(account.id)" type="button" class="btn btn-danger btn-xs">Delete Account</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <h3>Add an Account</h3>
        <form name="addUserForm">
            <div class="form-group">
                <label for="account_name">Account Name</label>
                <input type="text" class="form-control" id="account_name" placeholder="Account Name" ng-model="$ctrl.account_name" required>
            </div>
            <button ng-click="$ctrl.onSubmit($event)" type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>