<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">{{$ctrl.user.first_name}} {{$ctrl.user.last_name}}</h3>
                <button ng-click="$ctrl.removeUser($ctrl.user.id)" type="button" class="pull-right btn btn-danger">Delete User</button>
            </div>
            <div ng-if="$ctrl.user.account_types.length <= 0" class="panel-body">
                <p>There are no accounts associated with this user</p>
            </div>
            <ul ng-if="$ctrl.user.account_types.length > 0" class="list-group">
                <li ng-repeat="account in $ctrl.user.account_types" class="list-group-item">{{account.name}}</li>
            </ul>
        </div>
    </div>
</div>