<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">{{$ctrl.user.first_name}} {{$ctrl.user.last_name}}</h3>
                <button ng-click="$ctrl.removeUser($ctrl.user.id)" type="button" class="pull-right btn btn-danger">Delete User</button>
            </div>
            <div ng-if="$ctrl.user.account_types.length <= 0" class="panel-body">
                <p>There are no accounts associated with this user</p>
            </div>
            <ul ng-if="$ctrl.user.account_types.length > 0" class="list-group">
                <li ng-repeat="account in $ctrl.user.account_types" class="list-group-item">{{account.name}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <h3>Add Account Types to the User</h3>
        <div ng-repeat="account in $ctrl.accounts" class="checkbox">
            <label>
                <input type="checkbox" checklist-model="$ctrl.accountsToAdd" checklist-value="account.id"> {{account.name}}
            </label>
        </div>
        <p><button ng-click="$ctrl.updateUserAccountTypes()" class="btn btn-success">Add</button></p>
    </div>
</div>